html {
    font-family: 'Courier New', Courier, monospace;
    text-decoration: none;
}
::selection {
    background: #5c7385; /* WebKit/Blink Browsers */
  }
.topnav {
    position: sticky;
    top: 0;
    display:flex;
    padding: 1%;
    background-color: rgb(22, 22, 26);
    justify-content:space-between;
    border-bottom: 5px solid transparent;
    border-color: rgb(14, 13, 13);
}

.topnav > .left-side > a {
    color: rgb(239, 255, 243);
    font-size: 40px;
    justify-content: left;
    text-decoration: none;
}

.topnav > .right-side {
    margin-right:20px;
    justify-content: right;
}

body {
    margin: 0;
    height: 100vh;
    width: 100vw;
    background-image: linear-gradient(to left bottom, #841de4 , #277fdd , #97cf25 , #cca12c , #c4036a);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

body > p2 {
    font-size: 20px;
    padding: 1%;
    text-align: center;

    position: absolute;
    left: 50%;
    transform: translate(-50%,0);

    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    border:rgb(14, 13, 13) solid;
}

body > form {
    font-size: 20px;
    margin-left: auto;
    margin-right: auto;
    transform: translate(0, 150px);
    display: flex;
    justify-content:center;
    flex-direction: column;
    width: 40%;
}

body > form > input[type=text] {
    padding: 10px;
    margin: 2px;
}

body > form > textarea {
    resize: none;
    padding: 10px;
    margin: 2px;
    margin-bottom: 20px;
}

body > form > input[type=submit], input[type=reset] {
    font-family: 'Courier New', Courier, monospace;
    color: white;
    background-color:rgb(22, 22, 26);
    box-sizing: border-box;
    width: 100%;
    padding: 2%;
}

body > .links {
    font-size: 30px;
    padding: 2%;
    display: flex;
    justify-content: center;
    text-align: center;
}

body > .links > a {
    color:white;
    padding: 2%;
    background-color: rgb(22, 22, 26);
    text-decoration: none;
    border-bottom: solid;
    border-color:rgb(14, 13, 13);
}

body > .links > a:hover {
    text-shadow:rgb(255, 255, 255) 2px 2px 4px;
    box-shadow: 5px 5px 5px 5px rgb(14, 13, 13);    
}

body > #slideshow {
    position: relative;
    left: 50%;
    transform: translate(-50%,0);

    height: 50%;
    width: 70%;

    border:rgb(22, 22, 26) solid;
    background-color:rgb(22, 22, 26);
    
}

body > #slideshow > .mySlides > img {
    object-fit: cover;
    width: 100%;
    height: 100%;

    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);

    animation-name: nextSlide;
    animation-duration: 2s;
    animation-direction:normal;

}
.vignette {
    box-shadow: inset 0 0 200px black;
    position: absolute;
    width: 100%;
    height: 100%;
}

body > #slideshow > .mySlides > .titleCorner {
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: white;
    background-color: rgb(22, 22, 26);
    position: fixed;
    font-size: 30px;
    padding-left: 20px;
    padding-right: 20px;
    bottom: 0;
    left: 0;
}



@keyframes nextSlide {
    from {opacity: 0;}
    to {opacity: 1;}
}