<head> 
    {% include 'navbar.njk'%}
</head>
<body class="home">
    <ul class="sectionContainer">
        <li>{%include 'slideshow.njk'%}</li>
        <li>{{ content | safe }}</li>
    </ul>
    <div class="divider"></div>
</body>
    {% include 'footer.njk'%}