html {
    font-family: 'Courier New', Courier, monospace;
    text-decoration: none;
}
::selection {
    background: #5c7385; /* WebKit/Blink Browsers */
}

.topnav {
    position: sticky;
    top: 0;
    display: flex;
    align-self: flex-start;
    background-color: rgb(22, 22, 26);
    justify-content: space-between;
    border-bottom: 5px solid transparent;
    border-image: linear-gradient(to left bottom, #9524ff , #2b92ff , #b9ff2d , #ffcb3b , #ff0088);
    border-image-slice: 1;
    padding: 1%;
}

.topnav > .left-side > a {
    color: rgb(239, 255, 243);
    font-size: 30px;
    text-decoration: none;
}

.topnav > .left-side > a:hover {
    text-shadow:rgb(255, 255, 255) 2px 2px 4px;
}


.topnav > .middle {
    font-size: 25px;
    padding-top: 2%;
    transition: 0.4s; 
}

.topnav > .middle > a {
    color:white;
    text-decoration: none;
    padding: 5px;
}

.topnav > .middle > a:hover {
    text-shadow:rgb(255, 255, 255) 2px 2px 4px;
}

.topnav > .right-side {
    margin-right:20px;
}

body {
    margin: 0;
    height: 100vh;
    width: 100vw;
    background-image: linear-gradient(to left top, #ffffff , #dadada) fixed;
}

.home {
    background-image: linear-gradient(to left bottom, #9524ff , #2b92ff , #b9ff2d , #ffcb3b , #ff0088);
}



.sectionContainer  {
    margin: 5%;
}

body > .sectionContainer > .sectionTitle {
    background-color: rgb(22, 22, 26);
    margin: 0;
    padding-left: 5%;
    color: white;
}

article {
    display: flex;
    padding: 4px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

article > img {
    width: 200px;
    height: 200px;
    border: rgb(14, 13, 13) solid 20px;
    margin: 10px;
}

article > .snippet_text {
    padding: 10px;
    justify-content: left;
}

.headshot > img{
    height: 300px;
    width: 33%;
    border-radius: 50%;
}

.projectsLayout > ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.projectsLayout > ul > li {
    height: 250px;
    width: 300px;
    padding: 2%;
}

.projectsLayout > ul > li > img {
    height: 100%;
    width: 100%;
}


.sectionContainer > p2 {
    font-size: 20px;
    padding: 1%;
    text-align: center;

    position: absolute;
    left: 50%;
    transform: translate(-50%,0);

    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    border:rgb(14, 13, 13) solid;
}

.sectionContainer > form {
    font-size: 20px;
    margin-left: auto;
    margin-right: auto;
    transform: translate(0, 150px);
    display: flex;
    justify-content:center;
    flex-direction: column;
    width: 40%;
}

.sectionContainer > form > input[type=text] {
    padding: 10px;
    margin: 2px;
}

.sectionContainer > form > textarea {
    resize: none;
    padding: 10px;
    margin: 2px;
    margin-bottom: 20px;
}

.sectionContainer > form > input[type=submit], input[type=reset] {
    font-family: 'Courier New', Courier, monospace;
    color: white;
    background-color:rgb(22, 22, 26);
    box-sizing: border-box;
    width: 100%;
    padding: 2%;
}

body > #slideshow {
    position: fixed;
    top: 50%;
    left: 50%;
    height: 60vh;
    width: 70vw;
    border:rgb(22, 22, 26) solid 8px;
    background-color: rgb(22, 22, 26);
    transform: translate(-50%, -50%);
}

body > #slideshow > .mySlides > img {
    object-fit: cover;
    width: 100%;
    height: 100%;

    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);

    animation-name: nextSlide;
    animation-duration: 2s;
    animation-direction:normal;
    

}
.vignette {
    box-shadow: inset 0 0 200px black;
    position: absolute;
    width: 100%;
    height: 100%;
}

body > #slideshow > .mySlides > .titleCorner {
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: white;
    background-color: rgb(22, 22, 26);
    position: fixed;
    font-size: 30px;

}



@keyframes nextSlide {
    from {opacity: 0;}
    to {opacity: 1;}
}

footer {
    display: none;
    position: absolute;
    bottom: 0;
    background-color: #0e0d0d;
    width: 100%;
}

.portrait {
    width: 400px;
    height: 400px;

}

.portrait > img {
    object-fit: cover;
    height: 100%;
    width: 100%;
    border: 5px solid rgb(22, 22, 26);
    border-radius: 25%;
    overflow: hidden;
}

.resumeHeader {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: flex;
    justify-content: center;
}

.resumeHeader > ul {
    list-style-type: none;
    width: 30%;
}

.resumeHeader > ul > li > h4 {
    opacity: 50%;
}

.resumeHeader > ul > li > h1 {
    font-size: 50px;
}

.resumeHeader > ul > li > p {
    font-size: 20px;
}

.resumeHistory {
    display: flex;
    justify-content: center;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 2%;
}

.resumeHistory > .resumeTag {
    padding-left: 2%;
    padding-right: 2%;
}

.resumeHistory > .resumeTag > ul {
    list-style-type: none;
}

.resumeTag {
    background-color: white;
}

.resumeTag > ul > li > a {
    text-decoration: none;
    color: black;
}

.resumeHistory > .resumeTag > ul > li > img {
    width: 30px;
    height: 30px;
}