---
title: Projects
layout: base.njk
---
<div class="sectionContainer">
    <div class="sectionTitle"><h1>Completed Projects</h1></div>        
    <div class="projectsLayout">
    <ul>
        <li><img src="../images/wizardtowerinsky.png"></li>
        <li><img src="../images/thumbnail.jpg"></li>
        <li><img src="../images/newspaper.jpg"></li>
        <li><img src="../images/arduino.jpg"></li>
    </ul>
</div>