<head> 
    {% include 'navbar.njk'%}
</head>
<body class="home">
    <ul class="sectionContainer">
        <li>{{ content | safe }}</li>
        <li>{%include 'slideshow.njk'%}</li>
        <li>{% include 'footer.njk'%}</li>
    </ul>
</body>
</html>