<head> 
    {% include 'navbar.njk'%}
</head>
<body class="home">
    <div class="sectionContainer">
        {%include 'slideshow.njk'%}
        {{ content | safe }}
        {% include 'footer.njk'%}
    </div>
</body>
</html>