        <div id="slideshow">
            <div class="slideshowTitle"><h1>My Recent Projects<h1></div>
            {%- for post in collections.post | reverse -%}
            <div class="mySlides nextSlide">
                <img src="{{post.data.image}}">
                <div class="vignette"></div>
                <div class="titleCorner"><a href="{{post.url}}">{{post.data.title}}</a></div>
            </div>
            {%- endfor -%}
        </div>

        <!--script for logic-->
        <script>
            /* controls the logic for the slideshow */
            var slideIndex = 0;
            showSlides();
            function showSlides() {
                var slides = document.getElementsByClassName("mySlides");
                for (var i = 0; i < slides.length; i++) {
                    //Loops through and sets all slides to not display
                    slides[i].style.display = "none";
                }
                slideIndex++; //Increments to the next index
                if (slideIndex > slides.length) {
                    slideIndex = 1
                } //set to first slide if no more available
                slides[slideIndex-1].style.display = "block"; //display current slide
                setTimeout(showSlides, 5000); // Change image every 5 seconds
            } 
        </script>