---
title: Travis Peterson - Blog
layout: 'base.njk'
---
<div class="sectionContainer">
    <div class="blogTimeline">
        <h1 class="sectionTitle">Recent Articles</h1>
        <ul>
            {%- for post in collections.post | reverse -%}
                <article class="snippet">
                    <img src="{{post.data.image}}">
                    <div class="snippet_text">
                        <h1 class="snippet_title"> {{post.data.title}} </h1>
                        <p class="snippet_date">{{post.date | postDate}}</p>
                        <p class="snippet_description">{{post.data.description}}</p>
                        <a href="{{post.url}}" class="btn btn--primary">Continue Reading</a>
                    </div>
                </article>
            {%- endfor -%}
        </ul>
    </div>
</div>


