---
title: Blog
layout: 'base.njk'
---
<div class="sectionContainer">
    <h1 class="sectionTitle">Recent Articles</h1>
    <ul>
        {%- for post in collections.post -%}
            <article class="snippet">
                <img src="{{post.data.image}}">
                <h3 class="snippet_title"> {{post.data.title}} </h3>
            </article>
        {%- endfor -%}
    </ul>
</div>


