---
title: contact me
layout: 'base.njk'
---
    <div class="sectionContainer">
        <p2> Have feedback, suggestions, or wish to collaborate on something? <br> Let me know by using the form below!</p2>
        <form action="mailto:travisp0027@gmail.com" method="post" enctype="text/plain">            
            <input type="text" placeholder="Name">
            <input type="text" placeholder="Subject">
            <input type="text" placeholder="E-mail Address">
            <textarea rows = "5" cols = "60" name = "message" placeholder="Message"></textarea>
            <input type="submit" value="Send">
            <input type="reset" value="Reset">
        </form>
    </div>
