---
title: Travis Peterson - Home
layout: 'home.njk'
---
<div>
    <ul class="about_me">
        <li class="container_one">
            <h1>Hi. I'm Travis.</h1>
            <p> I'm currently pursuing a degree in Computer Science while working in a full time leadership role and volunteering to close the digital divide.</p>
            <p> I'm an innovator, teacher, and storyteller. </p>
        </li>
        <li class="conatiner_two"><img src="./images/headshot.jpg"></li>
    </ul>
    <div class="divider"></div>
    {% include 'slideshow.njk'%}
</div>