---
title: Home Page
layout: 'home.njk'
---
<div class="sectionContainer">
    <div class="sectionTitle">
        <h1> Hi! I'm Travis. </h1>
    </div>
    <div class="homeBlurb">
        <p>
            I'm a Computer Science student currently studying at Clarks College.
        </p>
    </div>
</div>