---
title: Resume
layout: base.njk
---
<div class="sectionContainer">
    <div class="resumeHeader">
        <div class="portrait">
            <img src="/images/portrait.jpg">
        </div>
        <ul>
            <li>
                <h4> Lead Software Engineer </h4>
            </li>
            <li>
                <h1> Travis M. Peterson </h1>
            </li>
            <li>
                <p>I seek out positions that aim to challenge me and proivde me ample opportunities for growth. I'm an independent learner, passionate leader, and empathetic teacher.</p>
                <p>My ideal project allows me to combine my creativity, passions, and techincal skills in a team-orientated environment.</p>
            </li>
        </ul>
    </div>
    <div class="resumeHistory">
        <div class="resumeTag">
            <h1>Education</h1>
            <ul>
                <li><a href="https://www.clark.edu/"><h3>Clark College (2018-2022)</h3></a>
                    <ul>
                        <li>Associates Transfer Degree for CS</li>
                        <ul>    
                            <li>Experience in C, Java, and Assembly</li>
                            <li>Used Git to sumbit assignments</li>
                            <li>Navigated GNU/Linux Environment</li>
                            <li>Proficient in Vi/Vim</li>
                            <li>Adept at BASH scripting</li>
                            <li>Calculus I, II, and III</li>
                            <li>Linearl Algebra</li>
                            <li>Engineering Physics I and II</li>
                        </ul>
                        <li>Engineering and Computer Science Club</li>
                        <ul>
                            <li>Club Treasurer - Fall 2019</li>
                            <li>Organized weekly meetings</li>
                            <li>Provided reousrces to inspire colleagues</li>
                        </ul>
                        <li>Aerospace Engineering Club</li>
                        <ul>
                            <li>Researched data transfer in C</li>
                            <li>Navigated Raspbery Pi and Linux </li>
                        </ul>
                    </ul>
                </li>
                <li><a href="https://sites.google.com/evergreenps.org/mountain-view"><h3>Mountain View High School (2016-2018)</h3></a></li>
                <ul>
                    <li>Highschool Diploma</li>
                    <li>Founded the Tabletop Gaming Club</li>
                    <li>AP Scholar Award</li>
                </ul>
            </ul>
        </div>
        <div class="resumeTag">
            <h1>Work History</h1>
            <ul>
                <li><a href="https://www.freegeek.org/"><h3>Free Geek (2022-Current)</h3></a></li>
                <ul>
                    <li>Tech Support Internship/Volunteering</li>
                    <ul>
                        <li>Fluent with computer hardware</li>
                        <li>Helped bridge the Digital Divide</li>
                        <li>Taught colleagues and public about digital concepts</li>
                        <li>Troubleshooting in team orientated Environemnt</li>
                        <li>Improved BASH scripting</li>
                        <li>Managed Ticket tracking software</li>
                        <li>Demonstrated willingness to learn</li>
                        <li>Worked with marginalized and under-privilaged peoples</li>
                    </ul>
                </ul>
                <li><a href="https://www.newseasonsmarket.com/our-stores/fisherslanding/"><h3>New Seasons Market (2019-Current)</h3></a></li>
                    <ul>
                        <li>Team Trainer</li>
                        <ul>
                            <li>Perfected constructive criticism</li>
                            <li>Demonstrated extensive knowledge</li>
                            <li>Welcomed new hires</li>
                            <li>Articulated and tought complex processes</li>
                        </ul>
                        <li>Lead Cashier</li>
                        <ul>
                            <li>Perfected inter-personal communication</li>
                            <li>Negotiated with upper-management</li>
                            <li>Problem solved across departments</li>
                            <li>Executed quick problem solving</li>
                            <li>Streamlined every-day tasks</li>
                        </ul>

                    </ul>

                <li><a href="https://www.columbian.com/news/2019/jun/21/east-vancouver-whole-foods-set-to-close/"><h3>Whole Foods Market (2018-2019)</h3></a></li>
                    <ul>
                        <li>Cashier</li>
                        <li>Customer Service Representative</li>
                    </ul>
            </ul>
        </div>
        <div class="resumeTag">
            <h1>Personal Projects</h1>
            <ul>
                <li><h3>Photo Checker</h3></li>
                <ul>
                    <li>Examines Metadata for Photoshop</li>
                    <li>Written in Java</li>
                </ul>
                <li><h3>Personal Website</h3></li>
                <ul>
                    <li>HTML5</li>
                    <li>Javascript</li>
                    <li>CSS</li>
                    <li>Nunjucks</li>
                    <li>Eleventy</li>
                </ul>
                <li><h3>Game Design Challenges</h3></li>
                <ul>
                    <li>Unity 2D/3D</li>
                    <li>C#</li>
                    <li>Aesprite</li>
                </ul>
                <li><h3>Arduino Fingerprint Scanner</h3></li>
                <li><h3>3D Modeling & Printing</h3></li>
            </ul>
        </div>
    </div>
    <div class="Recent Projects">
    </div>
</div>